<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
      <img class="card-img-top" src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2018%2F06%2Fjordan-dna-lx-pure-platinum-001.jpg?q=75&w=1000&fit=max">
      <div class="card-body">
        <h5 class="card-title">Fire Sneakers</h5>
        <p class="card-text description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe earum incidunt dolor error vitae facere temporibus harum nam dolorum reprehenderit officiis a sapiente necessitatibus inventore deleniti illum repellendus, veniam possimus.</p>
        <div class="clearfix">
          <div class="price float-left">£250</div>
          <a href="#" class="btn btn-success float-right">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
