{{# each products }}
  <div class="row">
    {{# each this }}
      <div class="col-sm-6 col-md-4" style="margin-bottom: 15px;">
        <div class="card">
          <img class="card-img-top" src="{{ this.imagePath }}">
          <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>
            <p class="card-text description">{{ this.description }}</p>
            <div class="clearfix">
              <div class="price float-left">£{{ this.price }}</div>
              <a href="#" class="btn btn-success float-right">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}



